.Container {
  @apply relative;
  background: var(--my-css-var);
}

.Label {
  @apply pointer-events-none absolute left-4 z-10 text-gray-500;
  transform: translateY(0.5rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Notice the :has pseudaclass is compatible with recent versions of most browsers, but it's not with firefox and samsung internet  */
  &:has(+ div > input:focus),
  &.displayLabelTop {
    @apply px-2;
    transform: translateY(-50%) scale(0.8);
    background-color: white;
  }

  &:has(+ div > input:focus) {
    &.valid {
      @apply text-primary-600;
    }

    &.error {
      @apply text-red-500;
    }
  }

  &.withIconLeft {
    @apply pl-4;
  }

  &.withIconRight {
    @apply pr-4;
  }
}

.InputContainer {
  @apply relative flex;
}

.LeftIcon {
  @apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3;
}

.Input {
  @apply focus:outline-none focus-visible:outline-none;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;

  &.valid {
    @apply focus:ring-primary-600 focus:border-primary-600;
  }

  &.error {
    @apply border-red-500 ring-red-500 focus:border-red-500 focus:ring-red-500;
  }

  &.withIconLeft {
    @apply pl-8;
  }

  &.withIconRight {
    @apply pr-8;
  }
}

.RightIcon {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2;
}

.disabled {
  @apply cursor-not-allowed opacity-50;
}
