.Container {
  @apply relative mb-4 max-w-fit;
}

.Label {
  @apply pointer-events-none absolute left-4 z-10 text-gray-500;
  transform: translateY(0.5rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:has(+ div > input:focus),
  &.displayLabelTop {
    @apply bg-white px-2;
    transform: translateY(-50%) scale(0.8);
  }

  &:has(+ div > input:focus) {
    &.valid {
      @apply text-primary-base;
    }

    &.error {
      @apply text-red-500;
    }
  }

  &.withIconLeft {
    @apply pl-4;
  }

  &.withIconRight {
    @apply pr-4;
  }
}

.InputContainer {
  @apply relative flex;
}

.LeftIcon {
  @apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3;
}

.Input {
  @apply box-border rounded-md border-2 border-solid border-gray-500 bg-none py-2 px-4 text-sm text-black;
  @apply focus:outline-none;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &.valid {
    @apply focus:ring-primary-base focus:border-primary-base;
  }

  &.error {
    @apply ring-red-500 border-red-500;
  }

  &.withIconLeft {
    @apply pl-8;
  }

  &.withIconRight {
    @apply pr-8;
  }
}

.RightIcon {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2;
}

.disabled {
  @apply opacity-50 cursor-not-allowed;
}
