.SelectLabel {
  @apply pointer-events-none absolute left-4 z-10 text-gray-500;
  transform: translateY(0.5rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &.displayLabelTop {
    @apply bg-white px-2;
    transform: translateY(-50%) scale(0.8);
  }

  &.focus {
    &.valid {
      @apply text-primary-base;
    }

    &.error {
      @apply text-red-500;
    }
  }
}

.Button {
  @apply relative w-full cursor-default rounded-md border-2 border-gray-500 py-2 pl-4 pr-10 text-left shadow-sm sm:text-sm min-h-[48px];
  @apply focus-visible:border-primary-base focus-visible:ring-2 focus-visible:ring-primary-base focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;

  &.focus {
    &.valid {
      @apply border-primary-base ring-primary-base;
    }
  }
  &.error {
    @apply ring-red-500 border-red-500;
  }
}

.ButtonLabel {
  @apply text-black block truncate;
}

.ArrowContainer {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2;
}

.Arrow {
  @apply h-5 w-5 text-gray-400;
}

.OptionContainer {
  @apply absolute z-50 max-h-60 w-full overflow-auto rounded-b-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.Option {
  @apply relative cursor-default select-none py-2 pl-10 pr-4;

  &.active {
    @apply bg-primary-lighter text-primary-darkest;
  }

  &.inactive {
    @apply text-gray-900;
  }
}

.OptionLabel {
  @apply block truncate font-normal;

  &.selected {
    @apply font-medium;
  }
}

.CheckContainer {
  @apply text-primary-dark absolute inset-y-0 left-0 flex items-center pl-3;
}
