.Label {
  @apply pointer-events-none absolute left-4 z-10 text-gray-500;
  transform: translateY(0.7rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:has(+ input:focus),
  &.displayLabelTop {
    @apply bg-white px-2;
    transform: translateY(-50%) scale(0.8);
  }

  &:has(+ input:focus) {
    &.valid {
      @apply text-primary-600;
    }

    &.error {
      @apply text-red-500;
    }
  }
}

.Input {
  @apply relative min-h-[48px] w-full cursor-default rounded-md border-2 border-gray-500 pr-6 pl-4 shadow-sm sm:text-sm;
  @apply focus:ring-primary-600 focus:border-primary-600;
  @apply focus:outline-none focus-visible:outline-none;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;

  &.valid {
    @apply focus:ring-primary-600 focus:border-primary-600;
  }

  &.error {
    @apply border-red-500 ring-red-500 focus:border-red-500 focus:ring-red-500;
  }

  &.disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.OptionContainer {
  @apply absolute z-50 max-h-60 w-full overflow-auto rounded-b-md bg-white py-2 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.Option {
  @apply relative flex-1 cursor-default select-none text-gray-900;

  &.selected {
    &::before {
      @apply bg-primary-500 absolute inset-y-0 -left-1 h-full w-1 translate-x-full rounded-tr-md rounded-br-md;
      content: '';
    }
  }
}

.OptionLabel {
  @apply mx-2 block truncate rounded-md px-2 py-2 font-normal;

  &.active {
    @apply bg-neutral-100 text-neutral-900;
  }

  &.selected {
    @apply bg-primary-100 text-primary-900 font-medium;
  }
}
