.Progress {
  @apply h-1 rounded-sm;

  &::-moz-progress-bar {
    @apply bg-neutral-500;
  }

  &.primary::-moz-progress-bar {
    @apply bg-primary-500;
  }

  &:indeterminate {
    @apply relative w-full appearance-none overflow-hidden;
    &::after {
      content: '';
      @apply bg-neutral-500 inset-y-0 -left-[40%] w-1/3 absolute rounded-sm;
      animation: progress-loading 1s ease infinite normal none running;
    }
  }

  &.primary:indeterminate::after {
    @apply bg-primary-500;
  }

  &::-webkit-progress-bar {
    @apply bg-neutral-500 bg-opacity-20 rounded-sm;
  }
  &::-webkit-progress-value {
    @apply bg-neutral-600 rounded-sm;
  }
  &.primary::-webkit-progress-value {
    @apply bg-primary-500;
  }
}

@keyframes progress-loading {
  from {
    left: -40%;
  }

  to {
    left: 100%;
  }
}
