.Btn {
  @apply whitespace-nowrap rounded-lg bg-transparent;
  @apply disabled:cursor-not-allowed disabled:opacity-40 disabled:shadow-none;

  &.primary {
    &.solid {
      @apply bg-primary-600 border-none text-white;
      @apply hover:bg-primary-700;
      @apply active:bg-primary-800;
      @apply disabled:bg-primary-600;
    }
    &.outline {
      @apply text-primary-700 border-primary-600 border-4 font-semibold;
      @apply hover:bg-primary-100;
      @apply active:bg-primary-200;
      @apply disabled:bg-white;
    }
    &.ghost {
      @apply text-primary-700 shadow-primary-200 border-none shadow-sm;
      @apply hover:shadow-primary-200 hover:shadow-md;
      @apply active:shadow-primary-200 active:shadow-inner;
      @apply disabled:bg-white disabled:shadow-md;
    }
    &.link {
      @apply text-primary-600 border-none;
      @apply hover:decoration-primary-600 hover:underline;
      @apply disabled:no-underline;
    }
  }

  &.secondary {
    &.solid {
      @apply bg-secondary-600 border-none text-white;
      @apply hover:bg-secondary-700;
      @apply active:bg-secondary-800;
      @apply disabled:bg-secondary-600;
    }
    &.outline {
      @apply border-secondary-600 text-secondary-700 border;
      @apply hover:bg-secondary-100;
      @apply active:bg-secondary-200;
      @apply disabled:bg-white;
    }
    &.ghost {
      @apply text-secondary-700 shadow-secondary-200 border-none shadow-sm;
      @apply hover:shadow-secondary-200 hover:shadow-md;
      @apply active:shadow-secondary-200 active:shadow-inner;
      @apply disabled:bg-white disabled:shadow-md;
    }
    &.link {
      @apply text-secondary-600 border-none;
      @apply hover:decoration-secondary-600 hover:underline;
      @apply disabled:no-underline;
    }
  }

  &.xs {
    @apply px-4 py-2 text-xs font-semibold;
    &.icon-only {
      @apply px-2 py-2;
    }
  }

  &.sm {
    @apply px-6 py-2 text-sm;
    &.icon-only {
      @apply px-4 py-4;
    }
  }

  &.md {
    @apply px-8 py-4 text-base;
    &.icon-only {
      @apply px-6 py-6;
    }
  }

  &.lg {
    @apply px-12 py-4 text-lg;
    &.icon-only {
      @apply px-8 py-8;
    }
  }

  &.include-icon {
    @apply flex flex-row items-center gap-2;
  }

  &.responsive {
    @apply px-4 py-2 text-xs;
    @apply sm:px-6 sm:py-2 sm:text-sm;
    @apply lg:px-8 lg:py-4 lg:text-base;
    @apply 2xl:px-12 2xl:py-4 2xl:text-lg;
    &.icon-only {
      @apply px-2 py-2;
      @apply sm:px-4 sm:py-4;
      @apply lg:px-6 lg:py-6;
      @apply 2xl:px-8 2xl:py-8;
    }
  }

  &.link {
    @apply p-0;
    &.responsive {
      @apply text-xs sm:text-sm md:text-base lg:text-lg;
    }
  }

  &.animated {
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;

    &:hover {
      transform: translateY(-0.33em);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

.Loading:after {
  @apply inline-block w-0 overflow-hidden align-bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026';
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
