.Btn {
  @apply whitespace-nowrap rounded-lg bg-transparent;
  @apply disabled:cursor-not-allowed disabled:opacity-40 disabled:shadow-none;

  &.primary {
    &.solid {
      @apply bg-primary-base border-none text-white;
      @apply hover:bg-primary-dark;
      @apply active:bg-primary-darker;
      @apply disabled:bg-primary-base;
    }
    &.outline {
      @apply text-primary-dark border-primary-base border-4 font-semibold;
      @apply hover:bg-primary-lighter;
      @apply active:bg-primary-light;
      @apply disabled:bg-white;
    }
    &.ghost {
      @apply text-primary-dark shadow-primary-light border-none shadow-sm;
      @apply hover:shadow-primary-light hover:shadow-md;
      @apply active:shadow-primary-light active:shadow-inner;
      @apply disabled:bg-white disabled:shadow-md;
    }
    &.link {
      @apply text-primary-base border-none;
      @apply hover:decoration-primary-base hover:underline;
      @apply disabled:no-underline;
    }
  }

  &.secondary {
    &.solid {
      @apply bg-secondary-base border-none text-white;
      @apply hover:bg-secondary-dark;
      @apply active:bg-secondary-darker;
      @apply disabled:bg-secondary-base;
    }
    &.outline {
      @apply border-secondary-base text-secondary-dark border;
      @apply hover:bg-secondary-lighter;
      @apply active:bg-secondary-light;
      @apply disabled:bg-white;
    }
    &.ghost {
      @apply text-secondary-dark shadow-secondary-light border-none shadow-sm;
      @apply hover:shadow-secondary-light hover:shadow-md;
      @apply active:shadow-secondary-light active:shadow-inner;
      @apply disabled:bg-white disabled:shadow-md;
    }
    &.link {
      @apply text-secondary-base border-none;
      @apply hover:decoration-secondary-base hover:underline;
      @apply disabled:no-underline;
    }
  }

  &.xs {
    @apply px-4 py-2 text-xs font-semibold;
    &.icon-only {
      @apply px-2 py-2;
    }
  }

  &.sm {
    @apply px-6 py-2 text-sm;
    &.icon-only {
      @apply px-4 py-4;
    }
  }

  &.md {
    @apply px-8 py-4 text-base;
    &.icon-only {
      @apply px-6 py-6;
    }
  }

  &.lg {
    @apply px-12 py-4 text-lg;
    &.icon-only {
      @apply px-8 py-8;
    }
  }

  &.include-icon {
    @apply flex flex-row items-center gap-2;
  }

  &.responsive {
    @apply px-4 py-2 text-xs;
    @apply sm:px-6 sm:py-2 sm:text-sm;
    @apply lg:px-8 lg:py-4 lg:text-base;
    @apply 2xl:px-12 2xl:py-4 2xl:text-lg;
    &.icon-only {
      @apply px-2 py-2;
      @apply sm:px-4 sm:py-4;
      @apply lg:px-6 lg:py-6;
      @apply 2xl:px-8 2xl:py-8;
    }
  }

  &.link {
    @apply p-0;
    &.responsive {
      @apply text-xs sm:text-sm md:text-base lg:text-lg;
    }
  }

  &.animated {
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;

    &:hover {
      transform: translateY(-0.33em);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

.Loading:after {
  @apply inline-block w-0 overflow-hidden align-bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026';
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
