.CheckboxContainer {
  @apply relative flex max-w-fit cursor-pointer flex-row;
  &.disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.Checkbox {
  path {
    transition: fill 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  path:first-child {
    @apply fill-transparent;
  }

  &.checked {
    path:first-child {
      @apply fill-primary-base;
    }

    path:nth-child(2) {
      @apply fill-primary-base;
    }
  }
}
